<head>
  <title>appwall</title>
</head>

<body>
  <h1 class="center-button">Welcome to Meteor!</h1>
    
    {{> form}}
    {{> posts}}
    {{#if currentUser}}
        {{> dashboard}}
    {{else}}
        {{> register}}
        {{> login}}
    {{/if}}
</body>
