<template name="form">
    <form>
        <input type="file" />
        <input type="text" />
        <input type="text" />
        <button>Submit</button>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            {{updateMasonry}}
            {{this.name}} {{this.message}} {{this.createdAt}}
            <img src="{{Image}}" />
        </div>
        {{/each}}
    </div>
</template>

<template name="register">
    <form>
        <input type="email" name="registerEmail">
        <input type="password" name="registerPassword">
        <input type="submit" value="Register">
    </form>
</template>

<template name="login">
    <form>
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form>
</template>

<template name="dashboard">
    <p>You're logged in.</p>
    <p><a href="#" class="logout">Logout</a></p>
</template>

